.ApplyNow {
    background-color: #F4783B;
    border: 1px solid #F4783c;
    border-radius: 5px;
    color: #fff;
    margin:35px;
    padding: 0px 15px 20px 15px;
    font-size: 4vw;
    font-weight: 350;
    text-decoration: none;
    opacity:1;
}