#Menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #003668;
    justify-content: space-between;
    margin-bottom: auto;
}


img#MenuImage {
width: 8vw;
padding-left: 10%;
margin-right: 10%;
min-width: 60px;
}


@media (max-width:600px) {
    #Menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #003668;
        justify-content: space-between;
        margin-bottom: 0;
    }
    img#MenuImage {
        width: 10vw;
        padding-left: 0;
        margin-right: 0;
        margin-top:3%;
        min-width: 60px;
        transition: cubic-bezier(0.215, 0.610, 0.355, 1);
        }
    }