.Amenities {
    margin: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-content: left;
    flex-wrap: wrap;
}

.HEad{
    border-bottom: solid 1px;
}

.Amenities ul {
    list-style-type: ;

}

.Amenities .contentLists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;

}